@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    background: #DDE1E4;
	font-family: 'Inter', sans-serif;
	min-height: 100vh;
}

.header {
    margin-top: 20px;
	font-size: 2rem;
	text-align: center;

}

.completed {
	text-decoration: line-through;
	opacity: 0.5;
}

.form,
.header {
	display: flex;
	justify-content: center;
	align-items: center;
}

form input,
form button {
	padding: 0.5rem;
	font-size: 1rem;
	border: 1px solid black;
	background: #DDE1E4;
}

form button:hover {
	background: #856084;
	color: white;
}

form button {
	color: #000000;
	background: #DDE1E4;
	cursor: pointer;
	transition: all 0.3s ease;
}


.todo-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.todo-list {
	min-width: 30%;
	list-style: none;
}

.todo {
    background: #DDE1E4;
	margin: 0.5rem;
	font-size: 1.5rem;
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 1s ease;
}

.filter-todo {
	padding: .5rem;
}

.todo li {
	flex: 1;
}

.trash-btn,
.complete-btn {
	background: #856084;
	color: white;
	border: none;
	padding: .5rem;
	cursor: pointer;
	font-size: .8rem;
}

.complete-btn {
	background: #84E296;
}

.todo-item {
    background: #DDE1E4;
	padding: 0rem 0.5rem;
}

.select {
text-align: center;
}

input,
select {
    margin: 10px;
	font-family: 'Inter', sans-serif;
	font-size: 1rem;
    background: #DDE1E4;
}

.submit-btn {
	background: #6B705C;
	/* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}


.modal {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
  }
  
  .modal_content {
    background-color: white;
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid black;
  }
  
  .close {
    color: Black;
    float: right;
  }
  
  .close:hover {
    color: cyan;
    cursor: pointer;
  }
  
  .popup_info {
  text-align: center;
  }